.footer
{
  margin-top: 20px;
  height: 150px;
  width: 100%;
  background-color: black;
}

.footername
{
  font-size: 20px;
  text-align:center;
  color: white;
}


.cpr
{
    text-align: center;
    font-size: 14px;
    color: white;
}

.i
{
  margin-left: 10px;
}

.i img
{
  height: 50px;
  width: 70px;
}