<div class ="footer">

    <br>
    <div class="footername">Stay in touch with us</div>
    <div class="social_m_icon">
    <table align="center">
     <tr>
    
        
    <td><div class="i"><a href="iamprojectfinder05@gmail.com"><img style="align-items: center;"src="assets/i6.png" width="100%"></a></div></td>
     <td><div class="i" ><a href="http://www.instagram.com/" ><img style="align-items: center;"src="assets/i7.png" width="100%"class="center" ></a></div></td> 
    <td><div class="i"><a href="http://m.youtube.com/create_channel?_creation_token=GiDSoN25ARoSGFVDeDZteWRLby16NXAzNid5TWtwX09iUQ%253D%253d&upsell=channel"><img src="assets/i8.png"width="100%"></a></div></td>
    <td><div class="i"><a href="https://m.facebook.com/project-finder-111734930343684/?ref=bookmarks"><img src="assets/i9.png"width="100%"></a></div></td>
  
</tr>
    </table>
    </div>
    
    <div class="cpr">ALL RIGHTS RESERVED<br>@projectfinderteam</div>
    
    </div>
    <hr color="red">
    
    