<div class="srch_bar" *ngIf="srchFlag">
  <p id="ttl">{{header}}</p>  
    <div class="srch" >
      <div class="d1">
        <div class="cat_cart" id="cs" (mouseover)="showCS=true" (mouseout)="showCS=false" (click)="showList('Computer Science')"><div class="Text" *ngIf="showCS">Computer Science</div><img src="assets/cs.jpg" width="100%" height="100%"></div>
        <div class="cat_cart" id="as" (mouseover)="showAN=true" (mouseout)="showAN=false" (click)="showList('Animation')"><div class="Text" *ngIf="showAN">Animation</div><img src="assets/anim.jpg" width="100%" height="100%"></div>
        <div class="cat_cart" id="zo" (mouseover)="showZO=true" (mouseout)="showZO=false" (click)="showList('Zoology')"><div class="Text" *ngIf="showZO">Zoology</div><img src="assets/zo.png" width="100%" height="100%"></div>
        <div class="cat_cart" id="bo" (mouseover)="showBO=true" (mouseout)="showBO=false" (click)="showList('Biology')"><div class="Text" *ngIf="showBO">Biology</div><img src="assets/botny.png" width="100%" height="100%"></div>
      </div>
    
      <div class="d2">
        <table>
          <tr><td><div class="cat_cart" id="mb" (mouseover)="showMB=true" (mouseout)="showMB=false" (click)="showList('Micro Biology')"><div class="Text" *ngIf="showMB">Micro Biology</div><img src="assets/micro.jpg" width="100%" height="100%"></div></td></tr>
          <tr><td><div class="cat_cart" id="fs" (mouseover)="showFS=true" (mouseout)="showFS=false" (click)="showList('Forensic Science')"><div class="Text" *ngIf="showFS">Forensic Science</div><img src="assets/fr.jpg" width="100%" height="100%"></div></td></tr>
        </table>
      </div>
    
      <div class="d3">
        <img src="assets/search.gif" width="100%" height="100%">
      </div>
    
      <div class="d4">
        <table align="right">
          <tr><td><div class="cat_cart" id="ch" (mouseover)="showCH=true" (mouseout)="showCH=false" (click)="showList('Chemistry')"><div class="Text" *ngIf="showCH">Chemistry</div><img src="assets/chem.jpg" width="100%" height="100%"></div></td></tr>
          <tr><td><div class="cat_cart" id="ele"(mouseover)="showEL=true" (mouseout)="showEL=false" (click)="showList('Electrical')"><div class="Text" *ngIf="showEL">Electrical</div><img src="assets/ele.jpg" width="100%" height="100%"></div></td></tr>
        </table>
      </div>
    
      <div class="d5">
        <div class="cat_cart" id="fd" (mouseover)="showFD=true" (mouseout)="showFD=false" (click)="showList('Food Processing')"><div class="Text" *ngIf="showFD">Food Processing</div><img src="assets/food.png" width="100%" height="100%"></div>
        <div class="cat_cart" id="bt" (mouseover)="showBT=true" (mouseout)="showBT=false" (click)="showList('Bio Technology')"> <div class="Text" *ngIf="showBT" >Bio Technology</div><img src="assets/bio.png" width="100%" height="100%"></div>
        <div class="cat_cart" id="nt" (mouseover)="showNT=true" (mouseout)="showNT=false" (click)="showList('Bio Technology')"><div class="Text" *ngIf="showNT" (click)="showList('Nano Science')">Nano Science</div><img src="assets/nano.jpg" width="100%" height="100%"></div>
        <div class="cat_cart" id="st" (mouseover)="showST=true" (mouseout)="showST=false" (click)="showList('Bio Technology')"><div class="Text" *ngIf="showST" (click)="showList('Statistics')">Statistics</div><img src="assets/stat.jpg" width="100%" height="100%"></div>
      </div>
  </div>
</div>

<div class="srchList" *ngIf="listFlag">
  <mat-card id="prjt_list" >
    <mat-card-header id="header">{{CatList}} Project List</mat-card-header>
    <div class="list">
       <mat-card id="prjt_crd" *ngFor ="let card of Projects"  (click)="showPrjtDes()">
          <div class="img">
            <img id="prjt_cv_img"src="assets/logo.png">
          </div>
          <div class="prjt_data">
             <div class="Pdata">{{card.pn}}</div>
             <div class="Pdata">{{card.pc}}</div>
             <div class="Pdata">{{card.ps}}</div>
             <div class="Pdata">{{card.pd}}</div>
             <div class="Pdata">{{card.pa}}</div>
            </div>
       </mat-card>
       </div>
  </mat-card>
</div>

<div class="prjts_des" *ngIf="prjtDesrcFlag">
  <mat-card id="prjtDes">
    <div id="prjt_pic"><img src="assets/logo.png"></div>
    <div class="prjt_name">ProjectFinder</div>
    <mat-tab-group mat-align-tabs="center" id="tabs">
      <mat-tab label="Overview">
        <div class="prjt_cat"><h4 id="prjt_cat">Category</h4></div>
        <div class="prjt_sum"><h4 id="prjt_sum">Summery</h4></div>
        <div class="prjt_desc"><h4 id="prjt_des">Description</h4></div>
      </mat-tab>
      <mat-tab label="Media / Links"></mat-tab>
      <mat-tab label="Comments"></mat-tab>
    </mat-tab-group>    
    
    
    
  </mat-card>
</div>
