.srch_bar{
    padding-top: 30px;
    height: 600px;
    width: 100%;
}

#ttl{
    font-size: 50px;
    text-align: center;
}

.cat_cart
{
  cursor:pointer;
  position: relative;
  margin-top: 5px;
  height: 100px;
  width: 200px;
  border: 2px solid #ef0606;
  border-radius: 10px;
}

.cat_cart img
{
  border-radius: 10px;
}

#nameplate, #nameplate1, #nameplate2, #nameplate3, #nameplate4, #nameplate5, #nameplate6, #nameplate7, #nameplate8, #nameplate9, #nameplate10, #nameplatea
{
  margin-top: 40px;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.d1
{
  margin-top: 50px;
  height: 110px;
  width: 100%;
}

.d2
{
  height: 225px;
  width: 40%;
  float:left;
}

.d3
{
  margin-top: 30px;
  cursor: pointer;
  height: 150px;
  width: 20%;
  float: left;
}

.d3 img
{
  border-radius: 10px;
}

.d4
{
  height: 225px;
  width: 40%;
  float: right;
}

.d5
{
  height: 110px;
  width: 100%;
  float: right;
}

#cs
{
  float:left;animation-name: move1;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
}
@keyframes move1
{
  0%{margin-left:0px}
  100%{margin-left: 250px}
}

#as
{
  float: left;
  animation-name: move2;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
}
@keyframes move2
{
  0%{margin-left:0px}
  100%{margin-left:15px}
}


#mb
{
  float: left;
  animation-name: move3;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
}
@keyframes move3
{
  0%{margin-left:0px}
  100%{margin-left: 300px}
}


#fs
{
  float: left;
  animation-name: move4;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
}
@keyframes move4
{
  0%{margin-left:0px}
  100%{margin-left: 300px}
}

#fd
{
  float: left;
  animation-name: move5;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
}
@keyframes move5
{
  0%{margin-left:0px}
  100%{margin-left:250px}
}

#ele
{
float: right;
animation-name: move6;
animation-duration: 2s;
animation-delay:1s;
animation-fill-mode: forwards;
}
@keyframes move6
{
0%{margin-left:0px}
100%{margin-right:300px}
}

#ch
{
  float: right;
  animation-name: move7;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
 }
 @keyframes move7
 {
  0%{margin-left:0px}
  100%{margin-right: 300px}
 }

#bo
{
  float: right;
  animation-name: move8;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
 }
 @keyframes move8
 {
  0%{margin-left:0px}
  100%{margin-right: 10px}
 }

#zo
{
   float: right;
   animation-name: move9;
   animation-duration: 2s;
   animation-delay:1s;
   animation-fill-mode: forwards;
   }
   @keyframes move9
   {
   0%{margin-left:0px}
   100%{margin-right: 250px}
   }

#bt
{
  float: left;
  animation-name: move10;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
}
@keyframes move10
{
  0%{margin-left:0px}
  100%{margin-left: 10px}
}

#st
{
  float: right;
  float: right;
  animation-name: move11;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: forwards;
  }
  @keyframes move11
  {
  0%{margin-left:0px}
  100%{margin-right: 10px}
  }

#nt
{
   float: right;
   animation-name: move12;
   animation-duration: 2s;
   animation-delay:1s;
   animation-fill-mode: forwards;
}
   
@keyframes move12
{
   0%{margin-left:0px}
   100%{margin-right: 250px}
}

.srchList{
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
}

.Text{
  font-size: 18px;
  color: wheat;
  position: absolute;
  top: 35%;
  left: 15%;
}

#prjt_list{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
}

.pr{
  margin-left: 5px;
  float: left;
  border: 2px solid;
  border-color: red;
  height: 100px;
  width: 400px;
  border-radius: 5px;
}

.pr:hover{
  box-shadow: 5px 10px #888888;
  cursor: pointer;
}

.pr h4{
  margin: 4px;
}

.pr img {
  border-radius: 4px;
  margin: 5px;
  height: 90px;
  width: 90px;
  float: left;
}
  #header{
    font-size: 20px;
  text-align: center;
  padding: 6px;
  background-color: rgb(236, 79, 79);
  color: #eee;
  border-radius:8px 8px 0px 0px ;
}

#prjt_crd{
  margin: 5px;
  height: auto;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(192, 137, 137), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#prjt_crd:hover{
  box-shadow: 0 4px 6px 0 rgba(192, 137, 137), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

#prjt_cv_img{
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
}

.prjt_data{
  text-align: center;
  width: 100%;
  color: rgba(192, 137, 137);
}  

.Pdata{
    margin-left: 8px;
}

.prjts_des{
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;

}

#prjtDes{
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

#prjt_pic{
margin-left: 35%;
margin-right: 35%;
height: 200px;
}

#prjt_pic img{
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.prjt_name{
  font-size: 20px;
  padding: 8px;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgb(216, 215, 215);
  margin-top: 5px;
}

.prjt_cat{
  font-size: 20px;
  padding: 8px;
  text-align: center;
  background-color: rgb(216, 215, 215);
  margin-top: 2px;
}

.prjt_sum{
  font-size: 20px;
  padding: 8px;
  text-align: center;
  background-color: rgb(216, 215, 215);
  margin-top: 2px;
}

.prjt_desc{
  font-size: 20px;
  padding: 8px;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
  background-color: rgb(216, 215, 215);
  margin-top: 2px;
}

.prjt_auth{
  font-size: 20px;
  padding: 8px;
  border-radius: 0px 0px 8px 8px;
  text-align: center;
  background-color: rgb(216, 215, 215);
  margin-top: 2px;
}

#tabs{
  margin-left: 15%;
  margin-right: 15%;
}

#prjtDes p{
  font-size: 15px
}

#prjt_sum,#prjt_des,#prjt_auth{
  background-color: rgb(192, 191, 191);
}

