<div class="nav_bar">
    <div class="logo_area"><img src="assets/logo.png" width="100%" height="100%"></div>
    <div class="reg_area" routerLink="dashboard"><button mat-raised-button >Dashboard</button></div>
    <div class="reg_area" routerLink="signin"><button mat-raised-button>Sign in/Sign Up</button></div>
    <div class="reg_area" routerLink="feedback"><button mat-raised-button>Feedback</button></div>
    <div class="reg_area" routerLink="trending"><button mat-raised-button >Trending Projects</button></div>
    <div class="reg_area" routerLink="find"><button mat-raised-button>Find Projects</button></div>
    <div class="reg_area" routerLink="/"><button mat-raised-button>Home</button></div>
</div>
<router-outlet></router-outlet>