.nav_bar
{
  height: 60px;
  width: 100%;
  background-color:  #ef0606;
}
.logo_area
{
  float: left;
  height: 100%;
  width: 300px;
  background-color:  #ef0606;
}

.reg_area{
    text-emphasis-color: red;
    margin: 10px;
    float:right;
    cursor: pointer;
}
