<div class="trend_prjcts">
<p id="ttl1">{{header}}</p>


<div class ="line_1">
    <marquee>
        <table>
            <tr>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p1.png" ></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p2.png" ></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p3.png" ></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p4.png" ></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p5.png" ></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p6.png" ></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p7.png" ></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p8.png" ></div></a></td>
            </tr>
        </table>
    </marquee>
</div>
    
<div class ="line_2">
    <marquee direction="right">
        <table>
            <tr>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p9.png" width="100%"></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p10.png" width="100%"></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p11.png" width="100%"></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p4.png" width="100%"></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p9.png" width="100%"></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p7.png" width="100%"></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p1.png" width="100%"></div></a></td>
                <td><a href="www.pf_project.com.html"><div class ="trend_proj_cart"><img src="assets/p3.png" width="100%"></div></a></td>
            </tr>
        </table>
    </marquee>
</div>
    
</div>