
#shrt_img{
  margin-left: 30%;
  height: 100px;
  width: 100px;
}

.tp-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.tp-section {
  background: #eee;
  padding: 10px;
  margin-top: 5px;
  width:200px;   
  text-align: center;
  cursor: pointer;
}

#prfl_card{
  margin: 10px;
  height: 150px;
}


.box{
  border-radius: 8px;
  float: left;
  margin-left: 10px;
  border: 2px solid;
  border-color: white;
  width: 200px;
}

.txt{  
  padding: 4px;
  color: white;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  height: 20px;
  width: 100%;
  background-color: rgb(236, 79, 79);
}

#data{
  width: 100%;
  padding: 3px;
  border: 1px solid rgb(192, 137, 137);
  text-align: center;
  border-radius: 0px 0px 8px 8px;
}

#prjt_list{
  margin: 10px;;
  width:45%;
  float:left;
}

#upload{
  margin: 10px;
  width:45%;
  float:left;
}
input[type="text"], input[type="email"], input[type="password"]
{
  outline: none;
  height: 25px;
  width: 95%;
}